<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248889679026-bfo7s14au19nijqjcrsld496tg8iqe96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248889679026-bfo7s14au19nijqjcrsld496tg8iqe96</string>
	<key>API_KEY</key>
	<string>AIzaSyC4or6xMR23SNkV7KZinUm5OZt4Kc35oY8</string>
	<key>GCM_SENDER_ID</key>
	<string>248889679026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.parking.NIBMParking</string>
	<key>PROJECT_ID</key>
	<string>nibmparking-b8a40</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmparking-b8a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248889679026:ios:3c187f1970351e754f7dab</string>
</dict>
</plist>